#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fade 2s linear forwards;
  svg {
    width: 100%;
    height: 100%;
    .white {
      animation: neonblink 8s linear infinite;
    }
  }
}

#avatar {
    all: unset;
    width: 30%;
    height: 30%;
    animation: wiggle 1s linear alternate infinite;
}

@keyframes neonblink {
  0%,40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  42%,68% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  70%,98% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(0deg);
  }
}
