#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
    height: 100%;
    .whitish, .greenish, .green{
      animation: poweron 4s linear forwards, neonblink 8s linear 4s infinite;
    }
  }
}

#avatar {
    all: unset;
    width: 30%;
    height: 30%;
    animation: wiggle 1s linear alternate infinite;
}

@keyframes poweron {
  0%, 5% {
    opacity: 0;
  }
  6%, 40% {
    opacity: 1;
  }
  41%, 48% {
    opacity: 0;
  }
  49%, 50% {
    opacity: 1;
  }
  51%, 90% {
    opacity: 0;
  }
  91%, 97% {
    opacity: 1;
  }
  98%, 99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes neonblink {
  0%, 40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  42%, 68% {
    opacity: 1;
  }
  69% {
    opacity: 0;
  }
  70%, 98% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(0deg);
  }
}
