#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
    height: 100%;
    .white {
      animation-name: neonblink;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
  }
}

#avatar {
    all: unset;
    width: 30%;
    height: 30%;
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes neonblink {
  0% {
    opacity: 100%;
  }
  40% {
    opacity: 100%;
  }
  45% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
