.form-box {
  //background: rgba(42,204,61,.5);
  background: rgba(245,97,81,.6);
  border-radius: 10px;
  width: 90%;
  transform: translateX(5%);

  .form-input, button {
    border: 1px solid white;
    width: 100%;
    height: 2rem;
  }

  textarea {
    min-height: 20rem;
    line-height: 1.2;
  }

  form, input, textarea {
    padding: 1rem;
    font-size: 18px;
  }

}

.error-message, #token-form {
  display: none;
}
