name: Deployer
run-name: Build and deploy zoug.fr
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Deployer
    steps:
      - name: Checkout the current branch, with the Duckquill theme submodule
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Zola
        uses: taiki-e/install-action@v2
        with:
          tool: zola@0.21.0

      - name: Build the website
        run: zola build --minify

      - name: Create .ssh folder for runner
        run: mkdir ~/.ssh && chmod 700 ~/.ssh

      - name: Copy private key to file in runner
        env:
          PRIVKEY: ${{ secrets.CI_SSH_PRIVKEY }}
        run: echo "$PRIVKEY" > ~/.ssh/ci-github && chmod 500 ~/.ssh/ci-github

      - name: Scan the host key
        env:
          HOST: ${{ secrets.CI_SSH_HOSTNAME }}
        run: ssh-keyscan $HOST > ~/.ssh/known_hosts

      - name: Deploy the website
        env:
          USER: ${{ secrets.CI_SSH_USER }}
          HOST: ${{ secrets.CI_SSH_HOSTNAME }}
        run: rsync -rvh --exclude '.ssh' -e "ssh -i ~/.ssh/ci-github" public/ $USER@$HOST:/var/www/zoug.fr --delete
